<!DOCTYPE html>
<html>
  <body>
    <main>
      <section class="create-view container">
            <% result.forEach(book => { %>
        <form id="create-form" action="/add" method="post">
          <input type="text" name="title" placeholder="Title">
          <input type="text" name="author" placeholder="Author">
          <textarea name="description" placeholder="Description"></textarea>
          <input type="text" name="isbn" placeholder="ISBN">
          <input type="text" name="image-url" placeholder="Image Link">
          <input type="text" name="bookshelf" placeholder="Bookshelf">
          <button type="submit">Save Book</button>
        </form>
            <%})%>
      </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>