<!DOCTYPE html>
<html>
  <body>
    <main>
      <section class="create-view container">
        <h2 class="view-title">Add a New Task</h2>
        <form id="create-form" action="/add" method="post">
          <input type="text" name="title" placeholder="Title">
          <input type="text" name="author" placeholder="Author">
          <textarea name="description" placeholder="Description"></textarea>
          <input type="text" name="isbn" placeholder="ISBN">
          <input type="text" name="image-url" placeholder="Image Link">
          <input type="text" name="bookshelf" placeholder="Bookshelf">
          <button type="submit">Add This Book!</button>
        </form>
      </section>
    </main>
  </body>
</html>