<!DOCTYPE html>
<html>
  <body>
    <main>
      <section class="book-view container">
            <h1> Number of Books : <%= results.length %></h1>
          <ul id="book-list">
            <% results.forEach(book => { %>
              <li class="book-item" data-id="<%= book.id %>">
                <h4>Books: <%= book.title %></h4>
                <a href="/books/<%= book.id%>">View Details</a>
              </li>
            <% }) %>
          </ul>
      </section>
    </main>
  </body>
</html>